
hardware/__Previews/

hardware/SmartCantonDevBox_V1_0/History/

hardware/SmartCantonDevBox_V1_0/__Previews/

dev/STM32CubeExpansion_LRWAN_V1\.1\.2/\.metadata/

dev/STM32CubeExpansion_LRWAN_V1\.1\.2/Projects/Multi/Applications/LoRa/AT_Slave/SW4STM32/B-L072Z-LRWAN1/mlm32l07x01/\.settings/

doc/POC_SmartCanton/

*.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
dev/STM32CubeExpansion_LRWAN_V1\.1\.2/Projects/Multi/Applications/LoRa/AT_Slave/SW4STM32/B-L072Z-LRWAN1/mlm32l07x01/Debug/

doc/software/ConnectivitySoftwareBluetooth/ICS/

doc/software/ConnectivitySoftwareBluetooth/html/

dev/MKW41z/SDK/

dev/SmartCanton_AppKeyServer/\.idea/workspace\.xml

dev/SmartCanton_AppKeyServer/ssl_certificates/
